Host *.github.com
  HostName github.com
  User git
  IdentifyFile ~/.ssh/personal_key

Host *.somedomain.com
  IgnoreUnknown UseKeychain
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/personal_key
#  Compression yes
#  ControlMaster auto


# ssh access to codecommit in different accounts
# use a mock host target
# the git remote would look like:
# origin ssh://codecommit-first-account/v1/repos/<REPO_NAME>
Host codecommit-first-account
  HostName git-codecommit.us-east-1.amazonaws.com
  # this would be the iam user id in first-account
  User APPKIA...Some IAM user id in first account
  IdentityFile ~/.ssh/personal_key

# the git remote would look like:
# origin ssh://codecommit-second-account/v1/repos/<REPO_NAME>
Host codecommit-second-account
  HostName git-codecommit.us-east-1.amazonaws.com
  # this would be the iam user id in first-account
  User APPKIA...Some IAM user id in second account
  IdentityFile ~/.ssh/personal_key