[default]
output = json
region = us-east-1

[personal]
output = json
region = us-east-1

[work-personal]
output = json
region = us-east-1

[work-preprod]
output = json
region = us-east-1

[work-prod]
output = json
region = us-east-1

[project1]
role_arn = arn:aws:iam::123456789012:role/testing
source_profile = default
role_session_name = OPTIONAL_SESSION_NAME